.header {
    width: 100%;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

    h1{
        font-size: 42px;
        font-weight: 700;
    }

    nav {
        ul {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0;

            li {
                list-style: none;
                font-weight: 700;
                text-transform: uppercase;
                padding: 16px;
            }
        }
    }
}